{% extends "layout.html" %}

{% block content %}
{% load static %}
<body data-new-gr-c-s-check-loaded="14.1026.0" data-gr-ext-installed="">
 <form name="testForm">
    <select name="language" id="language" onchange="Change();">
        <option value="zh-tw">中文</option>
        <option value="en">English</option>
        <option value="ja">日本語</option>
    </select>
</form>
<input type="text" id="area1" placeholder="検索...">
<div id="result">期間の終わりの遅い時刻</div>
<div id="linker">ハイパーリンク</div>
<table id="Table1" class="table table-list" border="0"><!-- Noncompliant -->
    <tbody><tr>
      <td>2020/5/19 8:19:39</td>
    </tr>
    <tr>
      <td><a onclick="window.open('http://recommend.lib.fcu.edu.tw/weblink/scripts/weblink/news.aspx?num=47&amp;displaylang=','',copyhistory=0,top=50,left=50,width=500,height=400,scrollbars=1);" href="javascript:void(0);">薦購系統E-mail自動通知功能暫停公告</a></td>
    </tr>
    <tr>
      <td>2020/3/17 16:28:33</td>
    </tr>
    <tr>
       <td><a onclick="window.open('http://recommend.lib.fcu.edu.tw/weblink/scripts/weblink/news.aspx?num=45&amp;displaylang=','',copyhistory=0,top=50,left=50,width=500,height=400,scrollbars=1);" href="javascript:void(0);">簡體書延遲到貨公告</a></td>
    </tr>
    <tr>
      <td>2020/3/17 16:23:6</td>
    </tr>
    <tr>
      <td><a onclick="window.open('http://recommend.lib.fcu.edu.tw/weblink/scripts/weblink/news.aspx?num=10&amp;displaylang=','',copyhistory=0,top=50,left=50,width=500,height=400,scrollbars=1);" href="javascript:void(0);">各類資源薦購額度與作業方式一覽表</a></td>
    </tr>
  </tbody></table>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    var bin = new Array();
    bin['zh-tw'] = new Array();
    bin['en'] = new Array();
    bin['ja'] = new Array();

    bin['zh-tw']['project'] = '期末專題補教時間';
    bin['en']['project'] = 'This is final project delay time';
    bin['ja']['project'] = '期間の終わりの遅い時刻';
    bin['zh-tw']['placeholder'] = '搜尋...';
    bin['en']['placeholder'] = 'Search...';
    bin['ja']['placeholder'] = '検索...';
    bin['zh-tw']['linker'] = '超連結';
    bin['en']['linker'] = 'hpyer link';
    bin['ja']['linker'] = 'ハイパーリンク';

    function selectFun(value) {
        $('.lang').each(function(index, item) {
            $(this).text(bin[$(this).attr(value)])
        });
    }
    function Change() {
	    document.getElementById("result").innerHTML = bin[document.getElementById("language").value]['project']
        ChangeLinker();
    }
    function ChangeLinker() {
	    document.getElementById("linker").innerHTML = bin[document.getElementById("language").value]['linker']
        changePlaceholder();
    }
    function changePlaceholder() {
            $('#area1').attr('placeholder',
                bin[document.getElementById("language").value]['placeholder']);
        }
</script>

</body>


{% endblock %}